---
import BaseLayout from "@/components/shared/layouts/BaseLayout.astro";
import Prose from "@/components/shared/starwind/prose";

const title = "Page not found";
const description = "The page you are looking for does not exist.";

const { frontmatter } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <article class="content">
    <Prose>
      <h1>{frontmatter.title}</h1>
    </Prose>
  </article>
</BaseLayout>
